section{
    width:80%;
    margin:auto;
}
#editTask:hover {
    color: #227d0a;
}
#deleteTask:hover {
    color:darkred;
}
#editField{
    max-width: 40%;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
.hidden{
    display:none;
}

/* Login Window Style in login.html file */
#loginWindow{
    max-width: 40%;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
#registerBtn{
    background-color:#98f080;
}
#register{
    margin-top: 5rem;
}
