<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- ionic -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
    <link rel="stylesheet" href="style.css">
    <title>To Do</title>
</head>
<body>
    <h1>To Do List</h1>

    <section>
        <ion-item>
            <ion-label>Enter new Task here:</ion-label>
            <ion-input aria-label="newTask" id="newTask"></ion-input>
        </ion-item>
        <ion-button shape="round" color="success" onclick="createNewTask();">Add Task</ion-button>

        <ion-list id="todos" [inset]="true">

        </ion-list>

        <section id="editField" class="hidden">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Editing: </ion-card-subtitle>
                  <ion-card-title></ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                    <ion-input label="new Title: "></ion-input>
                </ion-card-content>
              
                <ion-button id="saveBtn" shape="round" fill="solid">Edit</ion-button>
                <ion-button shape="round" onclick="closeWindow()" fill="solid">Cancel</ion-button>
              </ion-card>
        </section>
    </section>
    
   


</body>
    <script src="app.js"></script>
</html>